/* CSS for tablets. */

@media screen and (min-width: 750px) {
	header {
		float: right;
	}
	.headerText {
		text-align: right;
		vertical-align: text-bottom;
	}

	.footerImg {
		width: 50%;
		height: 50%;
	}

	#logo {
		width: 20%;
		height: 20%;
	}

	.colors {
		float: left;
	}

	#centerImg {
		float: right;
		margin-top: -370px;
		margin-right : -40px;
	}

	footer {
		clear: right;
		margin-left: 60px;

	}
}